<header>
  <h1>CSE Motors</h1>
  <nav>
    <ul>
      <% if (locals.account && (locals.account.account_type === 'Employee' ||
      locals.account.account_type === 'Admin')) { %>
      <li>
        <a href="/account/" title="Account Management"
          >Welcome <%= account.account_firstname %></a
        >
      </li>
      <li><a href="/account/logout" title="Logout">Logout</a></li>
      <% } else if (locals.account) { %>
      <li>
        <a href="/account/" title="Account Management"
          >Welcome <%= account.account_firstname %></a
        >
      </li>
      <li><a href="/account/logout" title="Logout">Logout</a></li>
      <% } else { %>
      <li><a href="/account/login" title="Login">My Account</a></li>
      <% } %>
    </ul>
  </nav>
</header>
