<header id="top-header">
  <div class="siteName">
    <a href="/" title="Return to Home page">CSE Motors</a>
  </div>
  <div id="tools">
    <a href="/account/login" title="Go to your account">My Account</a>
  </div>
</header>
