<% if (messages.success) { %>
<p class="success"><%= messages.success %></p>
<% } %> <% if (messages.error) { %>
<ul class="error-list">
  <% messages.error.forEach(err => { %>
  <li><%= err %></li>
  <% }); %>
</ul>
<% } %>
