<!-- Content Heading Section -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<!-- Message Block Section -->
<%# messages() %>

<!-- Inventory Items Display Section -->
<%- grid %>
